---
// https://codepen.io/kyledws/pen/VwKmVv

import Icon from 'astro-icon';

export interface Props {
	title: string;
	imgsrc: string;
  level: string;
  percent: string;
}

const { imgsrc, title, level, percent } = Astro.props as Props;
---

<div class="image-container column">
  <div class="center">
      <figure class="chart" data-percent={percent}>
          <img class={level}>
          <svg width="120" height="120">
              <circle class="backcircle" cx="130" cy="60" r="55" transform="rotate(-90, 95, 95)"/>
              <circle class="underlay" cx="130" cy="60" r="55" transform="rotate(-90, 95, 95)"/>
              <circle class="outer" cx="130" cy="60" r="55" transform="rotate(-90, 95, 95)"/>
          </svg>
          <figure class="image is-64x64">
              <img src={imgsrc}>
              <!-- <Icon name={imgsrc}></Icon> -->
          </figure>
      </figure>
  </div>
  <div>
      <h1>{title}</h1>
  </div>
</div>

<style>
/* Container styles */
h1 {
    color: whitesmoke;
    font-size: large;
}

.image-container {
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    /* margin-top: 8ch; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: inherit;
    width: inherit; */
    width: 130px;
    font-size: 24px;
    /* margin: 25px; */
    height: 120px;
}

.center figure {
    position: absolute;
}

.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: transparent;
  
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */

.pro + svg .outer {
  stroke: #e34f26;
}


.high + svg .outer {
  stroke: yellow;
}

.mid + svg .outer {
  stroke: greenyellow;
}

.low + svg .outer {
  stroke: rgb(0, 153, 255);
}

.chart svg {

  /* position: absolute;
  top: 0;
  left: 0; */
}

.backcircle {
    fill: white;
}

.underlay {
    fill: none;
    stroke: rgb(230, 230, 230);
    stroke-width: 10;
    stroke-dasharray: 534;
}

.outer {
    fill: none;
    stroke: #333;
    stroke-width: 10;
    stroke-dasharray: 345;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;

    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 345 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 86;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 172;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 258;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 86;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 86;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 172;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 172;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 258;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 345;
  }
  
  to {
    stroke-dashoffset: 258;
  }
}
/* END Keyframes for the initial animation */
</style>